body {
    font-family: "Montserrat", sans-serif !important;
    position: relative;
    width:100vw;
    height: 100vh;
    margin:0;
    background-color: rgb(238, 232, 232);
}

#table{
   top: 20px;
   left: 20px;
   position: absolute;
   border: solid black 1px;
   border-radius: 5px;
   width: 60%;
   height: 50px;
   background-color: rgb(199, 199, 206);
   box-shadow: 0 0 16px rgba(0,0,0, .17);
}

#newtasks{
    background-color: rgb(199, 199, 206);
    position: absolute;
    top: 20px;
    left: 70%;
    width: 25.4%;
    border-radius: 5px; 
    box-shadow: 0 0 16px rgba(0,0,0, .17);
}

#err-massage{
    position: relative;
    left: 70px;
    width: 100%;
    color: red;
    font-weight: 600;
    font-size: 12px;
}

input{
    width: 310px;
    height:35px;
    margin:15px 10px;
    border: 2px solid #c6c6c6;
    border-radius: 5px;
    font-size:15px;
    color:#8D8D8D;
    padding-left:10px;
    outline: none;
}

#btnNew {
    box-shadow: 0 0 16px rgba(0,0,0, .17);
    border: none;
    height: 30px;
    background-color: #02cb73;
    border-radius: 5px;
    color: white;
    position: absolute;
    width: 100%;
}

#btnAdd{
    border: none;
    height: 30px;
    background-color: #02cb73;
    border-radius: 5px;
    color: white;
    position: relative;
    left: 20px;
    bottom: 10px;
    width: 50px;
}

#btnCancel{
    margin: 10px;
    border: none;
    height: 30px;
    background-color: rgb(192, 4, 4);
    border-radius: 5px;
    color: white;
    position: relative;
    left: 20px;
    bottom: 10px;
    width: 70px;
}